<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<head>
    <title>To do list</title>
</head>

<h1>Tasks</h1>

<table>
    <tr>
        <th>State</th>
        <th>Title</th>
    </tr>
{% for task in tasks_list %}
    <tr>
        <td>
            <input type="checkbox" id="state"+{{task.id}} value={{task.id}} onclick="location.href='{% url 'change_task' task_id=task.id %}'" {% if task.state %}checked{% endif %}>
        </td>  
        <td>
            {% if task.state%} <s> {{ task.title }} </s>
            {% else %} {{ task.title }}
            {% endif %}
        </td>
        <td>
            <button class="material-icons" onclick="location.href='{% url 'task_detail' task_id=task.id %}'">navigate_next</button>
        </td>
    </tr>
{% empty %}
    No tasks to do. Add your first task!
{% endfor %}
    <tr>
        <td>
            <button class="material-icons" onclick="location.href='{% url 'new_task' %}'">plus_one</button>
        </td>
    </tr>
</table>
