<h1>Tasks</h1>

<table>
    <tr>
        <th>State</th>
        <th>Title</th>
    </tr>
{% for task in tasks_list %}
    <tr>
        <td>
            <input type="checkbox" id="state"+{{task.id}} value={{task.id}} onclick="location.href='{% url 'change_task' task_id=task.id %}'" {% if task.state %}checked{% endif %}>
        </td>  
        <td>
            {% if task.state%} <s> {{ task.title }} </s>
            {% else %} {{ task.title }}
            {% endif %}
        </td>
    </tr>
{% empty %}
    No tasks to do. Add your first task!
{% endfor %}
</table>
<d>{{test_data}}</d>
